Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.15.2-py3-none-any.whl (10.2 MB)
                                              0.0/10.2 MB ? eta -:--:--
     -                                        0.4/10.2 MB 12.2 MB/s eta 0:00:01
     ---                                      0.8/10.2 MB 10.0 MB/s eta 0:00:01
     ----                                     1.2/10.2 MB 10.5 MB/s eta 0:00:01
     ------                                   1.5/10.2 MB 9.8 MB/s eta 0:00:01
     -------                                  2.0/10.2 MB 9.6 MB/s eta 0:00:01
     ---------                                2.4/10.2 MB 9.7 MB/s eta 0:00:01
     -----------                              2.8/10.2 MB 9.5 MB/s eta 0:00:01
     ------------                             3.2/10.2 MB 9.7 MB/s eta 0:00:01
     --------------                           3.6/10.2 MB 9.6 MB/s eta 0:00:01
     ---------------                          4.0/10.2 MB 9.3 MB/s eta 0:00:01
     -----------------                        4.4/10.2 MB 9.7 MB/s eta 0:00:01
     ------------------                       4.8/10.2 MB 9.5 MB/s eta 0:00:01
     -------------------                      4.9/10.2 MB 9.5 MB/s eta 0:00:01
     -------------------                      4.9/10.2 MB 9.5 MB/s eta 0:00:01
     ----------------------                   5.7/10.2 MB 9.3 MB/s eta 0:00:01
     ------------------------                 6.3/10.2 MB 9.6 MB/s eta 0:00:01
     --------------------------               6.7/10.2 MB 9.5 MB/s eta 0:00:01
     ---------------------------              7.1/10.2 MB 9.6 MB/s eta 0:00:01
     -----------------------------            7.5/10.2 MB 9.5 MB/s eta 0:00:01
     ------------------------------           7.8/10.2 MB 9.6 MB/s eta 0:00:01
     --------------------------------         8.2/10.2 MB 9.6 MB/s eta 0:00:01
     ---------------------------------        8.6/10.2 MB 9.5 MB/s eta 0:00:01
     -----------------------------------      9.0/10.2 MB 9.6 MB/s eta 0:00:01
     ------------------------------------     9.4/10.2 MB 9.5 MB/s eta 0:00:01
     --------------------------------------   9.8/10.2 MB 9.6 MB/s eta 0:00:01
     ---------------------------------------  10.2/10.2 MB 9.6 MB/s eta 0:00:01
     ---------------------------------------- 10.2/10.2 MB 9.0 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\viv\anaconda3\lib\site-packages (from selenium) (1.26.16)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.23.1-py3-none-any.whl (448 kB)
                                              0.0/448.3 kB ? eta -:--:--
     --------------------------------      399.4/448.3 kB 12.6 MB/s eta 0:00:01
     -------------------------------------- 448.3/448.3 kB 7.1 MB/s eta 0:00:00
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\viv\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\viv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\viv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\viv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Collecting sniffio>=1.3.0 (from trio~=0.17->selenium)
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\viv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\viv\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\viv\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
                                              0.0/58.3 kB ? eta -:--:--
     ---------------------------------------- 58.3/58.3 kB 3.0 MB/s eta 0:00:00
Installing collected packages: sniffio, outcome, h11, wsproto, trio, trio-websocket, selenium
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
Successfully installed h11-0.14.0 outcome-1.3.0.post0 selenium-4.15.2 sniffio-1.3.0 trio-0.23.1 trio-websocket-0.11.1 wsproto-1.2.0

In [20]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [21]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [23]:
designation = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys("Data Analyst")

In [25]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [27]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [28]:
job_titles = []

title_tags = driver.find_elements(By.XPATH,"//h2[@itemprop]")
for i in title_tags:
    title = i.text
    job_titles.append(title)

In [29]:
Company_Name = []

companies = driver.find_elements(By.CLASS_NAME,"jobCard_jobCard_cName__mYnow")
for i in companies:
    company = i.text
    Company_Name.append(company)

In [35]:
Exp_Req = []

Exp_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in Exp_tags:
    Experience = i.text
    Exp_Req.append(Experience)

In [39]:
print(len(job_titles),len(Company_Name),len(Exp_Req))

20 20 20

In [42]:
df = pd.DataFrame({"JOB TITLES":job_titles,"Company": Company_Name, "Experience Required": Exp_Req})
df.head(10)

                        JOB TITLES            Company Experience Required
0             Data Analyst Vacancy  divya interprises          0 to 4 Yrs
1             Data Analyst Vacancy  divya interprises          0 to 4 Yrs
2            Clinical Data Analyst    quiscon biotech          0 to 2 Yrs
3  Data Analyst Urgent Recruitment  divya interprises          0 to 4 Yrs
4  Data Analyst Urgent Recruitment  divya interprises          0 to 4 Yrs
5  Data Analyst Urgent Recruitment  divya interprises          0 to 4 Yrs
6                   Data Analyst 1          merck ltd          1 to 3 Yrs
7            Clinical Data Analyst      techno endura           0 to 1 Yr
8         Data Analytics - Analyst           jpmorgan          0 to 4 Yrs
9          Hiring For Data Analyst  divya interprises          0 to 4 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [66]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [67]:
Designation = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
Designation.send_keys("Data Scientist")

In [68]:
Location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
Location.send_keys("Bangalore")

In [69]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [90]:
job_titles = []
job_location = []
company_name = []

titles = driver.find_elements(By.XPATH,"//h2[@itemprop]")
for i in titles:
    title = i.text
    job_titles.append(title)
job_titles

['Data Scientist Vacancy',
 'Data Scientist Urgent Recruitment',
 'Data Scientist- Bangalore',
 'Data Scientist AI ML CV',
 'Data Scientist-Bangalore',
 'Data Scientist AI ML NLP',
 'Phd Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Staff Data Scientist & Team Lead',
 'Data scientist',
 'Data Scientist Associate Sr - NLP',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data scientist Drivetrain',
 'Data Architect',
 'Data Scientist- Bangalore',
 'Vice President - Data Analytics Scientist']

In [91]:
location = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location:
    loc = i.text
    job_location.append(loc)
job_location

['Bangalore\n+14',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+8',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+1',
 'Bangalore',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+1']

In [92]:
company = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company:
    comp = i.text
    company_name.append(comp)
company_name

['divya interprises',
 'divya interprises',
 'the fashion cosmo',
 'bosch group',
 'shiva hr services',
 'bosch group',
 'bosch group',
 'divya interprises',
 'racanaa energy solution private lim...',
 'true caller',
 'capgemini technology services india...',
 'jpmorgan',
 'siemens limited',
 'mnr solutions pvt ltd',
 'bosch group',
 'mnr solutions pvt ltd',
 'mercede',
 'bosch group',
 'the fashion cosmo',
 'morgan stanley advantage services p...']

In [93]:
print(len(job_titles),len(job_location),len(company_name))

20 20 20

In [95]:
df = pd.DataFrame({"Job Titles": job_titles,"Location": job_location, "Company": company_name})
df.head(10)

,Job Titles,Location,Company
0,Data Scientist Vacancy,Bangalore\n+14,divya interprises
1,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises
2,Data Scientist- Bangalore,Bangalore,the fashion cosmo
3,Data Scientist AI ML CV,Bangalore,bosch group
4,Data Scientist-Bangalore,Bangalore,shiva hr services
5,Data Scientist AI ML NLP,Bangalore,bosch group
6,Phd Data Scientist,Bangalore,bosch group
7,Hiring For Data Scientist,Bangalore\n+14,divya interprises
8,Data Scientist,Bangalore,racanaa energy solution private lim...
9,Staff Data Scientist & Team Lead,Bangalore,true caller

Q3: In this question you have to scrape data using the filters available on the webpage 
 You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [145]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [147]:
designation = driver.find_element(By.XPATH,"/html/body/div/div[5]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys("Data Scientist")

In [149]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [150]:
location_filter = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button")
location_filter.click()

In [151]:
location_type = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input")
location_type.send_keys("Delhi/NCR")

In [152]:
salary_filter = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/ul/li[3]")
salary_filter.click()

In [153]:
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
salary.click()

In [154]:
search2 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
search2.click()

In [155]:
loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button")
loc.click()

In [156]:
loc1 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input")
loc1.send_keys("Delhi")

In [157]:
locc = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label")
locc.click()

In [158]:
results = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
results.click()

In [197]:
job_titles = []
job_location = []
company_name = []
experience_required = []

title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title = i.text
    job_titles.append(title)

In [198]:
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location.append(location)
job_location

['Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi\n+4',
 'Delhi\n+6',
 'Delhi\n+4',
 'Delhi\n+6',
 'Delhi\n+9',
 'Delhi\n+17',
 'Delhi\n+6',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi\n+6',
 'Delhi\n+6',
 'Delhi',
 'Delhi\n+6',
 'Delhi\n+9',
 'Delhi\n+6']

In [199]:
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company = i.text
    company_name.append(company)

In [200]:
Experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in Experience_tags:
    exp = i.text
    experience_required.append(exp)

In [201]:
print(len(job_titles),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [202]:
df = pd.DataFrame({"Job TItles":job_titles,"Location":job_location,"Company":company_name,"Experience Required":experience_required})
df.head(10)

,Job TItles,Location,Company,Experience Required
0,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
1,Data Scientist-Delhi,Delhi,shiva hr services,0 to 3 Yrs
2,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
3,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
4,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
5,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
6,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
7,Clinical Data Analyst,Delhi\n+6,techno endura,0 to 1 Yr
8,Data Modeler,Delhi\n+9,v-tech data outsourcing,0 to 2 Yrs
9,Biostatistician,Delhi\n+17,national seeds corporation limited,1 to 6 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses

In [28]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
                        
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [29]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input")
search.send_keys("sunglasses")

In [30]:
searchh = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
searchh.click()

In [31]:
brand = []
start = 0
end = 3
for page in range(start,end):
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
    
    next_button = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)


    

brand

['VINCENT CHASE',
 'ROZZETTA CRAFT',
 'SRPM',
 'GANSTA',
 'ROADWAY',
 'Fastrack',
 'Elligator',
 'john jacobs',
 'ROYAL SON',
 'Roadster',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Roadster',
 'ROADWAY',
 'Rich Club',
 'GANSTA',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROADWAY',
 'ROYAL SON',
 'ROYAL SON',
 'Roadster',
 'METRONAUT',
 'Elligator',
 'ROADWAY',
 'ROYAL SON',
 'Nicole Miller',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PROVOGUE',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'Rich Club',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Rich Club',
 'DEIXELS',
 'VINCENT CHASE',
 'ROYAL SON',
 'PIRASO',
 'iCopertina',
 'ROZZETTA CRAFT',
 'Elligator',
 'GUESS',
 'Eyewearlabs',
 'Elligator',
 'PIRASO',
 'AISLIN',
 'GUESS',
 'METRONAUT',
 'Elligator',
 'GANSTA',
 'PROVOGUE',
 'NuVew',
 'VINCENT CHASE',
 'Eyenaks',
 'Roadster',
 'ROYAL SON',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'Elligator',
 'METRONAUT',
 'ROYAL SON',
 'VINCENT CHASE',
 'PIRASO',
 'Dressberry',
 'ROYAL SON',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'NuVew',
 'ROADWAY',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'Rich Club',
 'ROYAL SON',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Ray-Ban',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'john jacobs',
 'VINCENT CHASE',
 'Singco India',
 'ROYAL SON',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'DEIXELS',
 'PROVOGUE',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'ROYAL SON',
 'PIRASO',
 'PETER JONES',
 'Fastrack',
 'Ray-Ban',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Singco India',
 'Eyewearlabs',
 'john jacobs',
 'GUESS',
 'AISLIN',
 'IRUS',
 'VINCENT CHASE',
 'OAKLEY',
 'ROYAL SON',
 'john jacobs',
 'ROYAL SON',
 'METRONAUT']

In [51]:
description = []
start = 0
end = 3
for page in range(start,end):
    desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        description.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
description

['UV Protection, Gradient Retro Square Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'Polarized Round Sunglasses (46)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Wayfarer, Rectangular Sunglasses (61)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Cat-eye Sunglasses (55)',
 'UV Protection, Gradient, Riding Glasses Over-sized Sung...',
 'Gradient Rectangular Sunglasses (61)',
 'UV Protection Cat-eye Sunglasses (56)',
 'Polarized, UV Protection Rectangular Sunglasses (58)',
 'Latch Beta Retro Square Sunglass',
 'UV Protection Cat-eye Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Cat-eye Sunglasses (56)',
 'Riding Glasses, Night Vision Round, Spectacle Sunglass...',
 'Gradient Butterfly Sunglasses (52)',
 'Polarized, UV Protection Clubmaster Sunglasses (Free Si...',
 'Polarized Rectangular Sunglasses (54)',
 'Gradient Butterfly Sunglasses (58)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Gradient Oval Sunglasses (53)',
 'UV Protection, Gradient Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Gradient Wayfarer, Rectangular Sunglasse...',
 'Gradient Aviator Sunglasses (62)',
 'UV Protection Round Sunglasses (51)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'Night Vision, Riding Glasses, UV Protection, Others Ret...',
 'Gradient Aviator Sunglasses (63)',
 'UV Protection, Gradient Cat-eye Sunglasses (51)',
 'Gradient Retro Square Sunglasses (60)',
 'Polarized, UV Protection Wayfarer Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (61)',
 'Mirrored Cat-eye Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'Polarized Round Sunglasses (46)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Wayfarer, Rectangular Sunglasses (61)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Cat-eye Sunglasses (55)',
 'UV Protection, Gradient, Riding Glasses Over-sized Sung...',
 'Gradient Rectangular Sunglasses (61)',
 'UV Protection Cat-eye Sunglasses (56)',
 'Polarized, UV Protection Rectangular Sunglasses (58)',
 'Latch Beta Retro Square Sunglass',
 'UV Protection Cat-eye Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Cat-eye Sunglasses (56)',
 'Riding Glasses, Night Vision Round, Spectacle Sunglass...',
 'Gradient Butterfly Sunglasses (52)',
 'Polarized, UV Protection Clubmaster Sunglasses (Free Si...',
 'Polarized Rectangular Sunglasses (54)',
 'Gradient Butterfly Sunglasses (58)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Gradient Oval Sunglasses (53)',
 'UV Protection, Gradient Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Gradient Wayfarer, Rectangular Sunglasse...',
 'Gradient Aviator Sunglasses (62)',
 'UV Protection Round Sunglasses (51)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'Night Vision, Riding Glasses, UV Protection, Others Ret...',
 'Gradient Aviator Sunglasses (63)',
 'UV Protection, Gradient Cat-eye Sunglasses (51)',
 'Gradient Retro Square Sunglasses (60)',
 'Polarized, UV Protection Wayfarer Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (61)',
 'Mirrored Cat-eye Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'Polarized Round Sunglasses (46)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Wayfarer, Rectangular Sunglasses (61)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Cat-eye Sunglasses (55)',
 'UV Protection, Gradient, Riding Glasses Over-sized Sung...',
 'Gradient Rectangular Sunglasses (61)',
 'UV Protection Cat-eye Sunglasses (56)',
 'Polarized, UV Protection Rectangular Sunglasses (58)',
 'Latch Beta Retro Square Sunglass',
 'UV Protection Cat-eye Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Cat-eye Sunglasses (56)',
 'Riding Glasses, Night Vision Round, Spectacle Sunglass...',
 'Gradient Butterfly Sunglasses (52)',
 'Polarized, UV Protection Clubmaster Sunglasses (Free Si...',
 'Polarized Rectangular Sunglasses (54)',
 'Gradient Butterfly Sunglasses (58)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Gradient Oval Sunglasses (53)',
 'UV Protection, Gradient Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Gradient Wayfarer, Rectangular Sunglasse...',
 'Gradient Aviator Sunglasses (62)',
 'UV Protection Round Sunglasses (51)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'Night Vision, Riding Glasses, UV Protection, Others Ret...',
 'Gradient Aviator Sunglasses (63)',
 'UV Protection, Gradient Cat-eye Sunglasses (51)',
 'Gradient Retro Square Sunglasses (60)',
 'Polarized, UV Protection Wayfarer Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (61)',
 'Mirrored Cat-eye Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection, Gradient Wayfarer Sunglasses (53)']

In [52]:
print(len(description))

120

In [36]:
price = []

start = 0
end = 3
for page in range(start,end):
    price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)

In [37]:
discount = []
start = 0
end = 3
for page in range(start,end):
    discount_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount_tags:
        discount.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)

In [53]:
print(len(brand),len(description),len(price),len(discount))

120 120 120 120

In [55]:
df = pd.DataFrame({"Brand":brand,"Description":description,"Price":price,"Discount in %": discount})
df.head(100)

,Brand,Description,Price,Discount in %
0,VINCENT CHASE,"UV Protection, Gradient Retro Square Sunglasse...",₹954,13% off
1,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (54),₹909,59% off
2,SRPM,UV Protection Oval Sunglasses (Free Size),₹149,88% off
3,GANSTA,"UV Protection, Gradient Butterfly, Wayfarer Su...",₹79,93% off
4,ROADWAY,Polarized Round Sunglasses (46),₹199,84% off
...,...,...,...,...
95,ROYAL SON,UV Protection Rectangular Sunglasses (59),₹599,76% off
96,DEIXELS,UV Protection Cat-eye Sunglasses (56),₹580,62% off
97,PROVOGUE,"Riding Glasses, Night Vision Round, Spectacle ...",₹399,80% off
98,Fastrack,Gradient Butterfly Sunglasses (52),₹714,35% off
99,Elligator,"Polarized, UV Protection Clubmaster Sunglasses...",₹169,25% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews

In [76]:
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYHWAXCG&marketplace=FLIPKART")

In [77]:
rating= []
reviews= []
brief = []
start=0
end=10
for page in range(start,end):
    stars = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in stars[0:100]:
         rating.append(i.text)
    review_title = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_title:
        reviews.append(i.text)
    brief_review = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in brief_review:
        brief.append(i.text)
    
    
        

    


next_button = driver.find_element(By.XPATH,'//nav[@class="yFHi8N"]/a[11]')
next_button.click()
time.sleep(4)

In [80]:
df = pd.DataFrame({"Star Ratings":rating,"Review title":reviews,"Brief Review":brief})
df

,Star Ratings,Review title,Brief Review
0,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
1,5,Perfect product!,Photos super
2,5,Best in the market!,Good Camera
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Worth every penny,Feeling awesome after getting the delivery of ...
...,...,...,...
95,5,Terrific,Very very good
96,5,Terrific purchase,Value for money 😍
97,5,Wonderful,This is amazing at all
98,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
99,5,Fabulous!,Super🔥 and good performance 👌❤️

Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [156]:
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [157]:
search_tab = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
search_tab.send_keys("sneakers")

In [158]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [159]:
Brand = []
Description = []
Price = []
start = 0
end = 3
for page in range(start,end):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
        
    pr_desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pr_desc:
        Description.append(i.text)
        
    prices = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices:
        Price.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//nav[@class="yFHi8N"]/a[11]')
    next_button.click()
    time.sleep(3)

In [160]:
print(len(Brand),len(Description),len(Price))

120 119 120

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [162]:
driver = webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [163]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("Laptop")

In [164]:
search_icon = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_icon.click()

In [165]:
CPU_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[12]/li/span/a/div/label/i')
CPU_filter.click()

In [171]:
Titles = []
Ratings = []
Price = []

Title_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in Title_tags[0:10]:
    Titles.append(i.text)
    
Ratings_tags = driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in Ratings_tags[0:10]:
    Ratings.append(i.text)
    
Price_Tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in Price_Tags[0:10]:
    Price.append(i.text)

In [172]:
print(len(Titles),len(Ratings),len(Price))

10 10 10

In [173]:
df = pd.DataFrame({"Laptop Titles":Titles,"Ratings":Ratings,"Price":Price})
df

                                       Laptop Titles Ratings     Price
0  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...      20    63,990
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...      23    49,990
2  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     330    60,990
3  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...      46    84,990
4  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...      52    68,990
5  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...      86    85,990
6  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...      59    52,990
7  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...      28    84,390
8  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...     150    57,990
9  Acer Predator Helios Neo 16 Gaming Laptop 13th...     124  1,29,990

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [174]:
driver = webdriver.Chrome()
driver.get("https://www.azquotes.com/")

In [175]:
top_quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [176]:
Quotes = []
Authors = []
Type_Of_Quotes = []
start = 0
end = 10
for page in range(start,end):
    Quote = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in Quote:
        Quotes.append(i.text)
        
    Author = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in Author:
        Authors.append(i.text)
        
    Type = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in Type:
        Type_Of_Quotes.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//div[@class="pager"]/li[12]')
    next_button.click()
    time.sleep(3)

In [178]:
print(len(Quotes),len(Authors),len(Type_Of_Quotes))

1000 1000 1000

In [180]:
df = pd.DataFrame({"Top Quotes":Quotes,"Authors":Authors,"Type Of The Quote":Type_Of_Quotes})
df

,Top Quotes,Authors,Type Of The Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [25]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time


driver = webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")

In [27]:
Tabs = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div/div/div[3]/ul/li[6]/a')
Tabs.click()

In [34]:
List = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
List.click()

In [36]:
leaders = []
table = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]')
Rows = table.find_elements(By.TAG_NAME,'tr')
for row in Rows:
    columns = table.find_elements(By.TAG_NAME,'td')
    if len(columns)==4:
        Names = columns[0].text
        Born_Dead = columns[1].text
        Terms = columns[2].text
        Remarks = columns[3].text
        leaders.append((Names,Born_Dead,Terms,Remarks))
        
leaders

[]

In [37]:
df = pd.DataFrame(leaders, columns=['Name', 'Born-Dead', 'Term of Office', 'Remarks'])
df

Empty DataFrame
Columns: [Name, Born-Dead, Term of Office, Remarks]
Index: []

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [47]:
driver = webdriver.Chrome()
driver.get('https://www.motor1.com/')

In [44]:
search_bar = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/button')
search_bar.click()

In [45]:
search2 = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search2.send_keys("50 most expensive cars")

In [46]:
search3 = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search3.click()

search results = The content you are looking for doesn't exist yet. To continue, try other site section.

Sorry to disappoint you.